{% extends "../base.html" %} 
{% load static %} 
{% block stylesheet %}
{% endblock %}
{% block title %} 
    Crear Producto
{% endblock %} 
{% block content %}
{% if form.errors %}
error
{% endif %}
{{err}}
 <form method="post" action="{% url 'tienda:new_producto' %}" enctype="multipart/form-data">
{% csrf_token %}
 {{form.as_p}}
 <button type="submit" class="btn btn-primary">Enviar</button>
</form>
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
{{prueba}}
{% endblock %}